@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap";

html {
  background-color: white;
}

body {
  color: black;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  letter-spacing: -0.75px;
  margin: 0;
  transition: color 0.5s, background-color 0.5s;

  > div {
    background-color: transparent;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
